:root
{
    --corDeFundo: white;
    --corPrimaria: #062A68;
    --corSegundaria: #05BCF5;
    --corTercearia: #0571F5;
}


body
{
    background-color: green;
}

footer
{
    background-color: var(--corPrimaria);
}

.foo
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.links
{
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 20px;
    
}