:root
{
    --corDeFundo: white;
    --corPrimaria: #062A68;
    --corSegundaria: #05BCF5;
    --corTercearia: #0571F5;
    --corTexto: white;
}

main
{
    height: 100vh;
    width: 100vw;
}

.titulo
{
    margin-bottom: 50px;
    font-size: 30px;
}

.catalogo
{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card
{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 189, 189);
    height: 550px;
    width: 400px;
    margin-left: 30px;
    font-size: 30px;
}

.conteudoCard
{
    margin:auto;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 350px;
}

body
{
    background-color: green;
}

footer
{
    background-color: var(--corPrimaria);
}

.foo
{
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--corTexto);
}

.links
{
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 20px;
    color: var(--corTexto);
}